.content {
  .title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 12px;
    line-height: 1.2;
  }
  p {
      margin-bottom: 32px;
  }

  // Demo 
  .demo-img-block {
      height: 336px;
      width: 100%;
      background-image: repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 1px,
      transparent 0,
      transparent 20px
    ),
    repeating-linear-gradient(
      -135deg,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 1px,
      transparent 0,
      transparent 20px
    );
  }
}
