<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__item">
        <div class="footer__item-head">Brand</div>
        <div class="footer__item-body">
          <p class="copy">
            All rights reserved. <br />
            © Company Inc, 2022
          </p>
        </div>
      </div>
      <div class="footer__item">
        <div class="footer__item-head">Company</div>
        <div class="footer__item-body">
          <ul class="footer__menu list-reset">
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">About</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Faq</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Contact us</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Offers</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__item">
        <div class="footer__item-head">Product</div>
        <div class="footer__item-body">
            <ul class="footer__menu list-reset">
                <li class="footer__menu-item">
                  <a href="#" class="footer__menu-link">Overview</a>
                </li>
                <li class="footer__menu-item">
                  <a href="#" class="footer__menu-link">Documentation</a>
                </li>
                <li class="footer__menu-item">
                  <a href="#" class="footer__menu-link">Pricing</a>
                </li>
                <li class="footer__menu-item">
                  <a href="#" class="footer__menu-link">Buy now</a>
                </li>
              </ul>
        </div>
      </div>
      <div class="footer__item">
        <div class="footer__item-head">Services</div>
        <div class="footer__item-body">
            <ul class="footer__menu list-reset">
                <li class="footer__menu-item">
                  <a href="#" class="footer__menu-link">Web design</a>
                </li>
                <li class="footer__menu-item">
                  <a href="#" class="footer__menu-link">Development</a>
                </li>
                <li class="footer__menu-item">
                  <a href="#" class="footer__menu-link">Support</a>
                </li>
                <li class="footer__menu-item">
                  <a href="#" class="footer__menu-link">Features</a>
                </li>
              </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
