<header class="header">
  <div class="container">
    <div class="header__wrapper">
        <a href="#" class="logo">Brand</a>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">Work</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Services</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Contact</a>
          </li>
          
        </ul>
        <a href="#" class="btn">Sign in</a>
      </nav>
      <div class="burger">
        <span class="burger__line"></span>
      </div>
    </div>
  </div>
</header>
