<section class="features section">
  <div class="container">
    <div class="features__wrapper">
      <div class="features__head section__head">
        <h2 class="title">
          Large & short <br />
          beautiful heading
        </h2>
        <p class="info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod <br />
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="features__body">
        <div class="features__list">
          <div class="features__item">
            <div class="features__item-icon">
              <!--Demo style (Delete) and add icon svg or image -->
            </div>
            <div class="features__item-head">
              <h3 class="title">Small heading</h3>
            </div>
            <div class="features__item-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <div class="features__item">
            <div class="features__item-icon">
              <!--Demo style (Delete) and add icon svg or image -->
            </div>
            <div class="features__item-head">
              <h3 class="title">Small heading</h3>
            </div>
            <div class="features__item-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <div class="features__item">
            <div class="features__item-icon">
              <!--Demo style (Delete) and add icon svg or image -->
            </div>
            <div class="features__item-head">
              <h3 class="title">Small heading</h3>
            </div>
            <div class="features__item-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </p>
            </div>
          </div>
          <div class="features__item">
            <div class="features__item-icon">
              <!--Demo style (Delete) and add icon svg or image -->
            </div>
            <div class="features__item-head">
              <h3 class="title">Small heading</h3>
            </div>
            <div class="features__item-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
